/****************** GENERAL ******************/

/***************** BOOTSTRAP *****************/

.btn-default{
  color: #aaa;
}

.label.label-default {
    background: #aaa;
}
blockquote {
    color: #555;
}

/****************** HEADERS ******************/
#preHeader {
    background: #038D98;
    color: #fff;
}
#preHeader a {
    color: #fff;
}
#mainHeader {
    background: rgba(255, 255, 255, 0.9);
}

ul.main-navigation > li.current-menu-item > a.firstLevel {
    color: #333;
}
ul.main-navigation > li.current-menu-item > a.firstLevel.active,
ul.main-navigation > li.current-menu-item > a.firstLevel:hover,
ul.main-navigation > li.current-menu-item > a.firstLevel:focus {
    border-bottom: 2px solid #ededed;
    color: #0e3165;
    background: none;
    margin-bottom: 1px;
    padding-bottom: 10px;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-toggle {
    border-color: #fff;
}
@media(max-width:767px) {
    ul.navbar-nav > li.primary > a.firstLevel.active,
    ul.navbar-nav > li.primary > a.firstLevel:hover,
    ul.navbar-nav > li.primary > a.firstLevel:focus {
        border-bottom: none;
    }
    #mainMenu .navbar-nav li {
        border-bottom: 1px solid #eee;
    }
}
#mainMenu .navbar-nav ul li a {
    border-bottom: 1px solid #444;
}
.navbar-nav ul li a {
    color: #999;
}
.navbar-nav ul li a:hover, .navbar-nav ul li.hover > a {
    background: #038D98;
    color: #fff;
}
@media(min-width:768px) {
    .navbar-nav ul {
        background: #333;
    }
}
#lang-btn {
    background: transparent;
    border: 0;
}
#lang-btn:hover,
#lang-btn:focus {
    color: #ccc;
}
#lang-menu a {
    color: #333;
}
.info-header i {
    background: #fff;
    color: #038D98;
}
#searchWrapper {
    color: #888;

}
#searchWrapper button:hover {
    background: #0e3165;
}
#searchWrapper .form-control {
    color: #0e3165;
}
#searchWrapper .form-control::-webkit-input-placeholder {
    color: #ddd;
}
#searchWrapper .form-control:-moz-placeholder {
    color: #ddd;
}
#searchWrapper .form-control::-moz-placeholder {
    color: #ddd;
}
#searchWrapper .form-control:-ms-input-placeholder {
    color: #ddd;
}
.page-header {
    background-color: #78CBD1;
    color: #fff;
    border: none;
}
.page-header a {
    color: #fff;
}
.breadcrumb {
    background: transparent;
}

/*************** ROYAL SLIDER ****************/
#full-width-slider {
    color: #000;
}
.infoBlock a {
    color: #fff;
}
.photosBy {
    background: #fff;
    color: #000;
}
.photosBy a {
    color: #000;
}

/***************** HOMEPAGE ******************/
.iconBlocHome i.fa {
    color: #038D98;
}

/************ ISOTOPE / PORTFOLIO ************/
.isotopeWrapper.loaded {
    background: none;
}
.isotopeContent {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.more-action figcaption p {
    color: #fff;
}
.more-link:hover .more-action {
    background: rgba(3, 141, 152, 0.5);
}
.more-icon i {
    color: #038D98;
    background: #fff;
}
.lazy-more-btn {
    background: #aaa!important;
    color: #fff!important;
}
.lazy-more-btn:hover {
    background: #fff!important;
    color: #333!important;
}

/*************** MISCELLANEOUS ***************/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #038D98;
}
.hotBox {
    background: #038D98;
    color: #fff;
}
.hotBox h2,
.hotBox a {
    color: #fff;
}
#pages-list li a {
    border: 1px solid #ddd;
    background-color: #aaa;
    color: #fff;
}
#pages-list li a:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
/******************* FOOTER ******************/
.footer-content {
        padding-top: 40px;
}
.float-left {
    float: left !important;
}
.footer-logo {
    border-right: 1px solid #0e3165;
    margin-bottom: 20px;
    margin-right: 18px;
    padding-right: 16px;
}

.borda {
    border-left: 1px solid #0e3165;
}

#footerRights {
    background: #082044;
    border-top: 1px solid rgb(14, 49, 101);
}
footer {
    background: #082044;
    color: #fff;
}
footer a {
    color: #fff;
}
footer p.lead {
    color: #038D98;
}
#toTop {
    background: #0e3165;
    border: 1px solid #0e3165;
}
#toTop:hover {
    background: #0e3165;
    color: #0e3165;
}
